@font-face {
    font-family: BestTenDOT;
    src: url("/BestTen-DOT.otf") format("opentype");
}

:root {
    --font-color: #E5E7EB;
    --bg-color: #27272A;
    --dark-bg-color: #18181B;
}

* {
    color: var(--font-color);
}

body {
    background-color: var(--bg-color);
}

*, body {
    font-family: BestTenDOT;
    letter-spacing: 1px;
}
select option {
    /* custom typeface somehow doesn't apply to the dropdown items, so a fallback */
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    width: 130px;
    height: 35px;
    font-size: 14px;
    background-color: var(--dark-bg-color);
    padding-bottom: 5px;
}
button:hover {
    color: white;
    font-weight: 600;
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: var(--dark-bg-color);
    border: 1px solid var(--font-color);
    border-width: 0 2px;
    font-size: 16px;
    text-align: center;
    width: 50px;
    padding-bottom: 5px;
}

.hidden { display: none !important; }

#title {
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 75px;
    letter-spacing: 3px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#build-container {
    display: flex;
    flex-direction: row;
    height: 250px;
    padding: 30px;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

#char-select-container {
    position: relative;
    display: flex;
    width: 200px;
    height: 45px;
    overflow: hidden;
}

#char-select-container::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: #3F3F46;
    background-color: var(--dark-bg-color);
    pointer-events: none;
}
#char-select-container:hover::after {
    color: #A3A3A3;
}

#char-select {
    border: none;
    flex: 1;
    padding-left: 12px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: var(--dark-bg-color);
    background-image: none;
    cursor: pointer;
}

#character-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

#character {
    height: 100%;
}

#img {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

#equipment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#build-name {
    outline: none;
    width: 425px;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 30px;
}
#build-name:hover {
    color: white;
}

#default-weap, .slot {
    position: relative;
}

.img {
    position: relative;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.add.material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #D1D5DB;
}
.add.material-symbols-outlined:hover {
    color: white;
}

#choices .choice {
    margin-bottom: 10px;
}

#weapons-container, #items-container, #stamps-container {
    display: flex;
    flex-direction: row;
}

#default-weap, .slot, .choice {
    margin: 0 5px 10px 5px;
    padding: 5px;
}

.slot, .choice {
    cursor: pointer;
}

#default-weap, .weapon {
    border: 3px solid #4779F4;
    /* html2canvas incorrectly rendering box-shadow */
    /* box-shadow: 2px 2px #1B41A0; */
}

.item {
    border: 3px solid #9FFF87;
    /* box-shadow: 2px 2px #3F9744; */
}

.stamp {
    border: 3px solid #FFF38C;
    /* box-shadow: 2px 2px #C2B971; */
}

.remove.material-symbols-outlined {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #DC2626;
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.remove.material-symbols-outlined:hover {
    color: #EF4444;
}

#input-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-bg-color);
    padding: 20px;
}
#input-number h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
#input-number div {
    border: 2px solid var(--font-color);
    display: inline-flex;
}
#input-number label {
    font-size: 14px;
    margin: 10px auto;
}
#input-number button {
    width: 30px;
    height: 30px;
    margin: auto;
}
.minus:after { content: '\2212'; }
.plus:after { content: '\002B'; }
.minus:after, .plus:after {
    font-size: 16px;
}

#clear-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
}

#save-image {
    font-size: 16px;
    width: 175px;
    height: 40px;
}

#weapons-choices, #items-choices, #stamps-choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: start;
}

#choices-bg {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

#choices-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #171717;
    padding: 10px 5px 7px 5px;
    width: 530px;
}

.ame { background-image: url("/img/character/Amelia_Watson_Portrait.png"); }
.gura { background-image: url("/img/character/Gawr_Gura_Portrait.png"); }
.ina { background-image: url("/img/character/Ninomae_Ina'nis_Portrait.png"); }
.kiara { background-image: url("/img/character/Takanashi_Kiara_Portrait.png"); }
.calli { background-image: url("/img/character/Calliope_Mori_Portrait.png"); }
.bae { background-image: url("/img/character/Hakos_Baelz_Portrait.png"); }
.kronii { background-image: url("/img/character/Ouro_Kronii_Portrait.png"); }
.fauna { background-image: url("/img/character/Ceres_Fauna_Portrait.png"); }
.mumei { background-image: url("/img/character/Nanashi_Mumei_Portrait.png"); }
.sana { background-image: url("/img/character/Tsukumo_Sana_Portrait.png"); }
.irys { background-image: url("/img/character/IRyS_Portrait.png"); }
.sora { background-image: url("/img/character/Tokino_Sora_Portrait.png"); }
.azki { background-image: url("/img/character/AZKi_Portrait.png"); }
.roboco { background-image: url("/img/character/Roboco-san_Portrait.png"); }
.suisei { background-image: url("/img/character/Hoshimachi_Suisei_Portrait.png"); }
.miko { background-image: url("/img/character/Sakura_Miko_Portrait.png"); }
.fubuki { background-image: url("/img/character/Shirakami_Fubuki_Portrait.png"); }
.mio { background-image: url("/img/character/Ookami_Mio_Portrait.png"); }
.okayu { background-image: url("/img/character/Nekomata_Okayu_Portrait.png"); }
.korone { background-image: url("/img/character/Inugami_Korone_Portrait.png"); }
.haato { background-image: url("/img/character/Akai_Haato_Portrait.png"); }
.mel { background-image: url("/img/character/Yozora_Mel_Portrait.png"); }
.matsuri { background-image: url("/img/character/Natsuiro_Matsuri_Portrait.png"); }
.aki { background-image: url("/img/character/Aki_Rosenthal_Portrait.png"); }
.subaru { background-image: url("/img/character/Oozora_Subaru_Portrait.png"); }
.choco { background-image: url("/img/character/Yuzuki_Choco_Portrait.png"); }
.shion { background-image: url("/img/character/Murasaki_Shion_Portrait.png"); }
.ayame { background-image: url("/img/character/Nakiri_Ayame_Portrait.png"); }
.aqua { background-image: url("/img/character/Minato_Aqua_Portrait.png"); }

.ame-wp { background-image: url("/img/weapon/starter/Pistol_Shot_Awakened_Icon.png"); }
.gura-wp { background-image: url("/img/weapon/starter/Trident_Thrust_Awakened_Icon.png"); }
.ina-wp { background-image: url("/img/weapon/starter/Summon_Tentacle_Awakened_Icon.png"); }
.kiara-wp { background-image: url("/img/weapon/starter/Phoenix_Sword_Awakened_Icon.png"); }
.calli-wp { background-image: url("/img/weapon/starter/Scythe_Swing_Awakened_Icon.png"); }
.bae-wp { background-image: url("/img/weapon/starter/Play_Dice_Awakened_Icon.png"); }
.kronii-wp { background-image: url("/img/weapon/starter/Clock_Hands_Awakened_Icon.png"); }
.fauna-wp { background-image: url("/img/weapon/starter/Nature_Shield_Awakened_Icon.png"); }
.mumei-wp { background-image: url("/img/weapon/starter/Bird_Feather_Awakened_Icon.png"); }
.sana-wp { background-image: url("/img/weapon/starter/Orbit_Awakened_Icon.png"); }
.irys-wp { background-image: url("/img/weapon/starter/Nephilim_Blast_Awakened_Icon.png"); }
.sora-wp { background-image: url("/img/weapon/starter/Bright_Star_Awakened_Icon.png"); }
.azki-wp { background-image: url("/img/weapon/starter/Diva_Song_Awakened_Icon.png"); }
.roboco-wp { background-image: url("/img/weapon/starter/Hi-Spec_Pistol_Awakened_Icon.png"); }
.suisei-wp { background-image: url("/img/weapon/starter/Axe_Swing_Awakened_Icon.png"); }
.miko-wp { background-image: url("/img/weapon/starter/Sakura_Gohei_Awakened_Icon.png"); }
.fubuki-wp { background-image: url("/img/weapon/starter/Fox_Tail_Awakened_Icon.png"); }
.mio-wp { background-image: url("/img/weapon/starter/Tarot_Cards_Awakened_Icon.png"); }
.okayu-wp { background-image: url("/img/weapon/starter/Onigiri_Awakened_Icon.png"); }
.korone-wp { background-image: url("/img/weapon/starter/Orayo!_Awakened_Icon.png"); }
.haato-wp { background-image: url("/img/weapon/starter/Red_Heart_Awakened_Icon.png"); }
.mel-wp { background-image: url("/img/weapon/starter/Kapu_Kapu_Icon.png"); }
.matsuri-wp { background-image: url("/img/weapon/starter/Ebifrion_Awakened_Icon.png"); }
.aki-wp { background-image: url("/img/weapon/starter/Aik_Awakened_Icon.png"); }
.subaru-wp { background-image: url("/img/weapon/starter/Baseball_Pitch_Awakened_Icon.png"); }
.choco-wp { background-image: url("/img/weapon/starter/Love_Needle_Awakened_Icon.png"); }
.shion-wp { background-image: url("/img/weapon/starter/Murasaki_Bolt_Awakened_Icon.png"); }
.ayame-wp { background-image: url("/img/weapon/starter/Dual_Katana_Awakened_Icon.png"); }
.aqua-wp { background-image: url("/img/weapon/starter/Cleaning_Broom_Awakened_Icon.png"); }

.bl-book { background-image: url("/img/weapon/basic/BL_Book_Icon.png"); }
.bounce-ball { background-image: url("/img/weapon/basic/Bounce_Ball_Icon.png"); }
.ceos-tears { background-image: url("/img/weapon/basic/CEO's_Tears_Icon.png"); }
.cutting-board { background-image: url("/img/weapon/basic/Cutting_Board_Icon.png"); }
.lava-bucket { background-image: url("/img/weapon/basic/Elite_Lava_Bucket_Icon.png"); }
.ens-curse { background-image: url("/img/weapon/basic/EN's_Curse_Icon.png"); }
.fan-beam { background-image: url("/img/weapon/basic/Fan_Beam_Icon.png"); }
.glowstick { background-image: url("/img/weapon/basic/Glowstick_Icon.png"); }
.holo-bomb { background-image: url("/img/weapon/basic/Holo_Bomb_Icon.png"); }
.idol-song { background-image: url("/img/weapon/basic/Idol_Song_Icon.png"); }
.plug-in-asacoco { background-image: url("/img/weapon/basic/Plug_Type_Asacoco_Icon.png"); }
.sui-axe { background-image: url("/img/weapon/basic/Psycho_Axe_Icon.png"); }
.chama-cooking { background-image: url("/img/weapon/basic/Spider_Cooking_Icon.png"); }
.wamy-water { background-image: url("/img/weapon/basic/Wamy_Water_Icon.png"); }
.x-potato { background-image: url("/img/weapon/basic/X-Potato_Icon.png"); }
.absolute-wall { background-image: url("/img/weapon/collab/Absolute_Wall_Icon.png"); }
.bl-fujoshi { background-image: url("/img/weapon/collab/BL_Fujoshi_Icon.png"); }
.bone-bros { background-image: url("/img/weapon/collab/Bone_Bros._Icon.png"); }
.breathe-in-asacoco { background-image: url("/img/weapon/collab/Breathe-In_Type_Asacoco_Icon.png"); }
.broken-dreams { background-image: url("/img/weapon/collab/Broken_Dreams_Icon.png"); }
.dragon-fire { background-image: url("/img/weapon/collab/Dragon_Fire_Icon.png"); }
.eldritch-horror { background-image: url("/img/weapon/collab/Eldritch_Horror_Icon.png"); }
.elite-cooking { background-image: url("/img/weapon/collab/Elite_Cooking_Icon.png"); }
.flattening-board { background-image: url("/img/weapon/collab/Flattening_Board_Icon.png"); }
.frozen-sea { background-image: url("/img/weapon/collab/Frozen_Sea_Icon.png"); }
.im-die-ty-4eva { background-image: url("/img/weapon/collab/I'm_Die,_Thank_You_Forever_Icon.png"); }
.idol-concert { background-image: url("/img/weapon/collab/Idol_Concert_Icon.png"); }
.light-beam { background-image: url("/img/weapon/collab/Light_Beam_Icon.png"); }
.micomet { background-image: url("/img/weapon/collab/MiComet_Icon.png"); }
.mikorone { background-image: url("/img/weapon/collab/MiKorone_Icon.png"); }
.rap-dog { background-image: url("/img/weapon/collab/Rap_Dog_Icon.png"); }
.ring-of-fitness { background-image: url("/img/weapon/collab/Ring_Of_Fitness_Icon.png"); }
.snow-sake { background-image: url("/img/weapon/collab/Snow_Flower_Sake_Icon.png"); }
.stream-of-tears { background-image: url("/img/weapon/collab/Stream_of_Tears_Icon.png"); }

.blacksmiths-gear { background-image: url("/img/item/Blacksmith's_Gear_Icon.png"); }
.body-pillow { background-image: url("/img/item/Body_Pillow_Icon.png"); }
.breastplate { background-image: url("/img/item/Breastplate_Icon.png"); }
.chickens-feather { background-image: url("/img/item/Chicken's_Feather_Icon.png"); }
.credit-card { background-image: url("/img/item/Credit_Card_Icon.png"); }
.devil-hat { background-image: url("/img/item/Devil_Hat_Icon.png"); }
.energy-drink { background-image: url("/img/item/Energy_Drink_Icon.png"); }
.face-mask { background-image: url("/img/item/Face_Mask_Icon.png"); }
.full-meal { background-image: url("/img/item/Full_Meal_Icon.png"); }
.gorillas-paw { background-image: url("/img/item/Gorilla's_Paw_Icon.png"); }
.gws-pill { background-image: url("/img/item/GWS_Pill_Icon.png"); }
.halu { background-image: url("/img/item/Halu_Icon.png"); }
.headphones { background-image: url("/img/item/Headphones_Icon.png"); }
.hope-sode { background-image: url("/img/item/Hope_Soda_Icon.png"); }
.idol-costume { background-image: url("/img/item/Idol_Costume_Icon.png"); }
.injection-type-asacoco { background-image: url("/img/item/Injection_Type_Asacoco_Icon.png"); }
.just-bandage { background-image: url("/img/item/Just_Bandage_Icon.png"); }
.milk { background-image: url("/img/item/Knightly_Milk_Icon.png"); }
.shackles { background-image: url("/img/item/Kusogaki_Shackles_Icon.png"); }
.limiter { background-image: url("/img/item/Limiter_Icon.png"); }
.membership { background-image: url("/img/item/Membership_Icon.png"); }
.horn { background-image: url("/img/item/Nurse's_Horn_Icon.png"); }
.ppp { background-image: url("/img/item/Piki_Piki_Piman_Icon.png"); }
.plushie { background-image: url("/img/item/Plushie_Icon.png"); }
.sake { background-image: url("/img/item/Sake_Icon.png"); }
.piggy-bank { background-image: url("/img/item/Stolen_Piggy_Bank_Icon.png"); }
.glasses { background-image: url("/img/item/Study_Glasses_Icon.png"); }
.sc-time { background-image: url("/img/item/Super_Chatto_Time!_Icon.png"); }
.uber-sheep { background-image: url("/img/item/Uber_Sheep_Icon.png"); }

.atk { background-image: url("/img/stamp/ATK_Up_Stamp_Icon.png"); }
.bomb { background-image: url("/img/stamp/Bomb_Stamp_Icon.png"); }
.crit { background-image: url("/img/stamp/Crit_Up_Stamp_Icon.png"); }
.greed { background-image: url("/img/stamp/Greed_Stamp_Icon.png"); }
.haste { background-image: url("/img/stamp/Haste_Up_Stamp_Icon.png"); }
.knockback { background-image: url("/img/stamp/Knockback_Stamp_Icon.png"); }
.life-steal { background-image: url("/img/stamp/Life_Steal_Stamp_Icon.png"); }
.projectile { background-image: url("/img/stamp/Projectile_Up_Stamp_Icon.png"); }
.reverse { background-image: url("/img/stamp/Reverse_Stamp_Icon.png"); }
.rgb { background-image: url("/img/stamp/RGB_Stamp_Icon.png"); }
.size { background-image: url("/img/stamp/Size_Up_Stamp_Icon.png"); }
.slow { background-image: url("/img/stamp/Slow_Stamp_Icon.png"); }
.solo { background-image: url("/img/stamp/Solo_Stamp_Icon.png"); }
.stun { background-image: url("/img/stamp/Stun_Stamp_Icon.png"); }
.trumpet { background-image: url("/img/stamp/Trumpet_Stamp_Icon.png"); }
.weaken { background-image: url("/img/stamp/Weaken_Stamp_Icon.png"); }